<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JensensWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/loginform.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/optionsform.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JensensWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/newscard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/leftpanel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar ">
            <div class="container-navbar">
                <div class="navbar-header">
                    <div class="header-side-items">
                        <div class="nav-head-left">
                            <div class="datetime" id="datetime">@DateTime.Now.ToString("dd\\/MM\\/yyyy")</div>
                        </div>
                        <div class="nav-head-center">
                            <img src="~/images/logoNameGrupp2.png" alt="logo1" class="headline-logo" />
                        </div>
                        <div class="nav-head-right">
                            <button class="login-button" id="login-button">Logga in</button>
                            <button id="options-button">
                                <img src="~/images/settingGrupp2.png" alt="logo3" class="settings-logo" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="navbar-hyperlink">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sport</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fritid</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kultur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nöje</a>
                        </li>
                    </ul>
               </div>
           </div>
        </nav>
    </header>
    <div class="login-modal" id="login-modal">
        <div class="login-container">
            <header>Logga in</header>
            <div class="form-outer">
                <form action="#">
                    <div class="page">                    
                        <div class="field">
                            <div class="label">Email</div>
                            <input type="text" name="email" placeholder="Email" required>
                            <div class="label">Lösenord</div>
                            <input type="password" name="password" placeholder="Lösenord" required>
                            <a href="#">Glömt lösenord?</a>
                            <div class="field">
                                <button>Logga in</button>
                                <p>Inget konto? <a href="#">Skapa ett nu !</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="options-modal" id="options-modal">
        <div class="options-container">
            <header>Inställningar</header>
                                <div class="toggle-container">
                        <input type="checkbox" id="toggle" />
                        <label for="toggle" class="toggle-label"></label>
                    </div>
            <div class="form-outer">
                <form action="#">
                    <div class="page">
                        <div class="field">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <main>
        <aside class="main__leftPanel">
            <div class="leftPanel">
                <div class="searchBox">
                    <div>
                        <input type="text" name="searchbar" placeholder="Sök..." />
                        <button type="submit" name="submitSearch">Sök</button>
                    </div>
                    
                        @using (Html.BeginForm("Sort", "Home", FormMethod.Post))
                        {
                        <label for="sortBy">Sortera</label>
                        <select name="sortBy" id="sortBy" onchange="this.form.submit()">
                            <option>Välj ett alternativ</option>
                            <option value="New">Nyaste först</option>
                            <option value="Old">Äldsta först</option>
                        </select>
                        }
                    <div>
                        <a href="">Fler sökalternativ</a>
                    </div>
                </div>

                <div class="adBox">
                    <div class="ad">
                        <img src="~/images/hands_to_small.webp" />
                    </div>
                    <div class="ad">
                        <video autoplay loop muted>
                            <source src="~/images/the_two_faces_of_squidward_174.webm" type="audio/webm" />
                        </video>
                    </div>
                    <div class="ad">
                        <img src="~/images/malmo_basta-kebab.webp" />
                    </div>
                </div>
            </div>  
        </aside>
            @RenderBody()
    </main>

    <footer id="footer-main">
        <div class="footer-grid">
            <section class="footer-1">
                <h3>Kontakta oss</h3>
                <ul>
                    <li><a href="#">Kundservice</a></li>
                    <li><a href="#">Karriär</a></li>
                    <li><a href="#">Investerare</a></li>
                </ul>
            </section>
            <section class="footer-2">
                <h3>Information</h3>
                <ul>
                    <li><a href="#">Om oss</a></li>
                    <li><a href="#">Personuppgiftspolicy</a></li>
                    <li><a href="#">Allmänna villkor</a></li>
                </ul>
            </section>
            <section class="footer-3">
                <h3>Tipsa oss</h3>
                <ul>
                    <li><a href="#">0701234567</a></li>
                    <li><a href="#">1234@händelsehorisonten.se</a></li>
                </ul>
            </section>
        </div>
        <div class="copyright-footer">
            &copy; Copyright 2023 - Grupp 2 Jensen
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
