<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JensensWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/loginform.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JensensWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NewsCard.css" asp-append-version="true" />
</head>
<body>
    <div class="login-modal" id="login-modal">
        <div class="login-container">
            <header>Login</header>
            <div class="form-outer">
                <form action="#">
                    <div class="page">                    
                        <div class="field">
                            <div class="label">Email</div>
                            <input type="text" name="email" placeholder="Email" required>
                            <div class="label">Password</div>
                            <input type="password" name="password" placeholder="Password" required>
                            <a href="#">Forgot Password?</a>
                            <div class="field">
                                <button>Login</button>
                                <p>Don't have an account? <a href="#">Sign up now</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-navbar">
            <div class="navbar-header">
                <div class="header-side-items">
                    <div class="nav-head-left">
                            <img src="~/images/logoGrupp2.png" alt="logo1" class="small-logo" />
                    </div>
                    <div class="nav-head-center">
                            <img src="~/images/image2.jpg" alt="logo2" />
                    </div>
                    <div class="nav-head-right">
                            <button class="login-button" id="login-button">Login</button>
                            <button type="submit">
                            </button>
                    </div>
                </div>
                <div class="headlin-logo">
                    
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navbar-titles" href="#">Sport</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-titles" href="#">Fritid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-titles" href="#">Kultur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-titles" href="#">Nöje</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <main>
        <aside class="main__leftPanel">
            <div class="leftPanel">
                <div class="searchBox">
                    <div>
                        <input type="text" name="searchbar" placeholder="Sök..." />
                        <input type="submit" name="submitSearch" value="Sök"/>
                    </div>
                    <div>
                        <label for="sort">Sortera</label>
                        <select name="sort" id="sort">
                            <option>Välj ett alternativ</option>
                            <option value="New">Nyaste först</option>
                            <option value="Old">Älsta först</option>
                        </select>
                    </div>
                    <div>
                        <a href="">Fler sökalternativ</a>
                    </div>
                </div>

                <div class="adBox">
                    <div class="ad">
                        <img src="~/images/hands_to_small.webp" />
                    </div>
                    <div class="ad">
                        <video autoplay loop muted>
                            <source src="~/images/the_two_faces_of_squidward_174.webm" type="audio/webm" />
                        </video>
                    </div>
                    <div class="ad">
                        <img src="~/images/malmo_basta-kebab.webp" />
                    </div>
                </div>
            </div>  
        </aside>
            @RenderSection("LoginForm", required: false)
            @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - JensensWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
