<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JensensWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JensensWebApp.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-navbar">
            <div class="navbar-header">
                <div class="header-side-items">
                    <img src="~/images/logoGrupp2.png" alt="logo1" width="50" height="50" class="small-logo"/>
                    <a asp-action="login" asp-controller="Account" class="navbar-login">Login</a>
                    <img src="~/images/image3.jpg" alt="logo3" width="50" height="50" class="settings-logo" />
                </div>
            <div class="headlin-logo">
                <img src="~/images/image2.jpg" alt="logo2" width="50" height="50"/>
            </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navbar-titles" href="#">Sport</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-titles" href="#">Fritid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-titles" href="#">Kultur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-titles" href="#">Nöje</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - JensensWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
