/* Nav bar */
.container-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    max-height: 10rem;
}
.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header-side-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.datetime {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    padding-bottom: 15px;
}
.nav-head-center{
    text-align:center;
}
.nav-head-center img {
    height: auto;
}
.nav-head-right img {
    width: 3rem;
    height: auto;
}
.navbar-nav li {
    padding: 0 1rem;
}

.navbar-nav li a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.settings-logo {
    filter: invert(0%);
}

.dark-mode-logo{
    filter: invert(100%);
}

.dark-mode-linknav {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.navbar-nav li a:hover {
    color: black;
    text-decoration: underline;
    font-size: 1.5rem;
}
