header {grid-area: header}
main {grid-area: main}
aside.main__leftPanel {grid-area: leftPanel}
section.main__top-feed {grid-area: top-feed}
section.main__bottom-feed {grid-area: bottom-feed}
footer {grid-area: footer}

.main__top-feed{
    margin-left:10rem;
    margin-bottom:2rem;
}
.main__bottom-feed{
    margin-left:10rem;
    margin-bottom:2rem;
}
.header-side-items img {
    height: 3rem;
    width: auto;
}
.header-side-items button {
    height: 3rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    width: auto;
}
html {
    font-size: 14px;
}
button {
    border-radius: 0.3rem;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color:black;
    color:white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    body {
        display: grid;
        grid-template-columns: 4em auto 4em;
    }
}

main {
    display: grid;
    grid-template-columns: min(20vw, 300px) auto;
    grid-template-areas:
        "leftPanel top-feed"
        "leftPanel top-feed"
        "leftPanel top-feed"
        "leftPanel bottom-feed"
        "leftPanel bottom-feed";
}

html {
  position: relative;
  min-height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

body {
    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-rows: minmax(120px, 20vh) auto 3.5em;
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
}


body {
    background-color: #eee;
    color: #333;
    transition: background-color 0.3s ease;
}

.dark-mode a {
    color: white;
}

.dark-mode {
    background-color: #111;
    color: #fff;
}

.toggle-container {
    position: relative;
    width: 50px;
    height: 25px;
    margin-bottom: 20px;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    background-color: #888;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.toggle-label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: #fcfcfc;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

#toggle:checked + .toggle-label {
    background-color: #55a;
}

#toggle:checked + .toggle-label:before {
    transform: translateX(25px);
}